html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  main h3 {
    text-align: center; }

section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 17.05961%;
  height: 50px; }
  section:last-child {
    margin-right: 0; }

.row1 #clear {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 18.75436%; }
  .row1 #clear:last-child {
    margin-right: 0; }

.row1 div.answer {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 60.91982%;
  height: 45px;
  background: #98EDEA; }
  .row1 div.answer:last-child {
    margin-right: 0; }
  .row1 div.answer span {
    font: #fff;
    font-size: 20px;
    font-weight: bolder; }

.row2 input,
.row3 input,
.row4 input,
.row5 input {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.96686%; }
  .row2 input:last-child,
  .row3 input:last-child,
  .row4 input:last-child,
  .row5 input:last-child {
    margin-right: 0; }
